    /* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    citecode,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ******************** eigen code font ********************* */
    
    @font-face {
        font-family: "Nexa Bold";
        src: url(../fonts/Nexa Bold.otf);
    }
    
    @font-face {
        font-family: "Nexa Light";
        src: url(../fonts/Nexa Light.otf);
    }
    
    @font-face {
        font-family: "transico";
        src: url(../fonts/transavicon.woff);
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-family: "Nexa Bold";
    }
    
    form {
        font-family: "Nexa Light";
    }
    
    h1 {
        font-size: 3em;
        color: #00D66C;
    }
    
    h2 {
        padding-bottom: .1em;
        padding-left: .5em;
        padding-top: .5em;
        font-size: 2.5em;
        color: #2800a0;
    }
    
    h3 {
        font-size: 1.8em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    form p ul li {
        font-family: "Nexa Bold";
    }
    
    li {
        font-family: "Nexa Bold";
        color: #2800a0;
    }
    /* ********************eigen code********************* */
    
    body {
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        background-image: url(images/Backgroundimg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    header {
        display: inline-block;
        display: flex;
        background-color: white;
        font-size: 0.7em;
        justify-content: space-between;
        box-shadow: 0 0.3125em 0.625em 0 rgba(0, 0, 0, .15);
    }
    
    header h1 {
        font-size: 3em;
        margin-top: .3em;
    }
    
    header img {
        width: 8em;
        height: 100%;
        position: relative;
        margin-right: 4.5em;
        padding-top: .3em;
    }
    
    header nav ul {
        display: flex;
        text-align: right;
    }
    
    header nav ul li {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        width: auto;
        padding: 0.3em;
        margin-top: 1.3em;
        font-size: 1.3em;
    }
    
    header a {
        text-decoration: none;
        color: #00D66C;
    }
    
    header ul li:last-child {
        text-decoration: underline;
        text-decoration-style: solid;
    }
    
    /* ******************** form ********************* */
    
    main > form {
        background-color: rgba(255,255,255,.7);
        border: .0625rem solid;
        border-color: #2800a0;
        border-radius: .75em;
        color: #2800a0;
        font-size: 1.2em;
        max-width: 50em;
        margin: 2.5em;
        padding: 1em;
    }
    
    main form fieldset {
        display: flex;
       flex-direction: column;
        justify-content: center;
        transition:all .2s;
        padding-bottom: 1em;
    }
    
    main form fieldset legend {
        padding-bottom: .2em;
        font-size: 1.3em;
        font-weight: bolder;
    }
input {
    width: 100%;
    margin-bottom: .7em;
    display: block;
    border: .0625rem solid #91a3b7;
    color: #606060;
    font-size: 1rem;
    border-radius: .5rem;
    transition: border .2s linear,color .2s linear;
    text-overflow: ellipsis;
}
    button {
        background-color: #ff3268;
        box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
        margin: .2em;
        padding: .4375em 1.5em .5625em;
        position: relative;
        border: 0;
        font-weight: bold;
        line-height: 1.5;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        border-radius: 1.25em;
        color: white;
    }

fieldset:invalid p {
  display:none;
}
input:invalid {
  border-color: rgba(255,0,0,.45);
}
input:valid {
  border-color:green;
} 
input:focus {
  transform: scale(1.01, 1.01);
}
form:valid button {
  opacity:1
}
form:invalid button {
  opacity: 0;  
}
button:focus {
  transform: scale(1.1, 1.1);
}


    
    button:hover {
        transform: scale(1.1);
    }

      /* ******************** 2e brake ********************* */
    
    @media only screen and (max-width: 44em) {
        header h1 {
            margin: auto;
            font-size: 2em;
            padding-top: .3em
        }
    }
    
    @media only screen and (max-width: 31em) {
        header img {
            margin-right: -3em;
        }
    }
    /* ******************** 3e brake ********************* */
    
    @media only screen and (max-width: 25em) {
        header h1 {
            margin: auto;
            font-size: 1.9em;
            padding-top: .6em
        }
        header img {
            margin-right: -3em;
            padding-left: -3em;
        }
        header nav ul li {
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            width: auto;
            padding: 0.5em;
            padding-top: 1.3em;
            font-size: 1em;
            justify-content: flex-end;
        }
    }
/* ******************** 3e brake ********************* */