/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ******************** eigen code font ********************* */

@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/Nexa Bold.otf);
}

@font-face {
    font-family: "Nexa Light";
    src: url(../fonts/Nexa Light.otf);
}

h1,
h2,
h3,
h4 {
    font-family: "Nexa Bold";
}

h1 {
    font-size: 3em;
    color: #00D66C;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.2em;
}

form p ul li {
    font-family: "Nexa Bold";
}

li {
    font-family: "Nexa Bold";
}


/* ********************eigen code********************* */

body {
    margin: 0.2em;
}

header {
    display: inline-block;
    display: flex;
    background-color: white;
    font-size: 0.7em;
}

header h1 {
    margin: auto;
}

header img {
    width: 8em;
    height: 100%;
    position: relative;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: auto;
    padding: 0.5em;
    padding-top: 1.3em;
    font-size: 1.3em;
}

header a {
    text-decoration: none;
    color: #00D66C;
}

section:nth-of-type(1) {
    background-color: #F3E5D8;
    margin: auto;
    display: block;
    position: relative;
    padding: 1em;
}
section:nth-of-type(3) {
    background-color: #F3E5D8;
    margin: auto;
    display: block;
    position: relative;
    padding: 1em;
}

article {
    width: 25em;
    position: relative;
    margin-top: 1rem;
    border-radius: .75rem;
    color: white;
    background-color: #00D66C;
    display: block;
    position: relative;
    display: inline-block;
    margin: 1em;
    width: 18em;
    padding:2em;
}

article:hover {
    transform: scale(1.1);
}

main {
    position: relative;
    display: block;
    margin: 1em;
    width: 100%
}

main article img {
    width: 100%;
}


/* ******************** grid en flow ********************* */

section:nth-of-type(1) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 6em;
    justify-content: center;
    flex-wrap: wrap;
}

section:nth-of-type(3) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 6em;
    justify-content: center;
    flex-wrap: wrap;
}

/* ******************** 1e brake ********************* */

@media only screen and (max-width: 87em) {
        section:nth-of-type(1) {
            grid-template-columns: 1fr 1fr;
            justify-content: center;
        }
    section:nth-of-type(3) {
            grid-template-columns: 1fr 1fr;
        justify-content: center;
        }
    }
/* ******************** 2e brake ********************* */
@media only screen and (max-width: 61em) {
        section:nth-of-type(1) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    section:nth-of-type(3) {
            grid-template-columns: 1fr;
        justify-content: center;
        }
    }

/* ******************** 2e brake ********************* */

@media only screen and (max-width: 34.6em) {
        section:nth-of-type(1) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    section:nth-of-type(3) {
            grid-template-columns: 1fr;
        justify-content: center;
        }
    }