        /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* ******************** eigen code font ********************* */
    
    @font-face {
        font-family: "Nexa Bold";
        src: url(../fonts/Nexa Bold.otf);
    }
    
    @font-face {
        font-family: "Nexa Light";
        src: url(../fonts/Nexa Light.otf);
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-family: "Nexa Bold";
    }
    
    h1 {
        font-size: 3em;
        color: #00D66C;
    }
    
    h2 {
        font-size: 2.5em;
    }
    
    h3 {
        font-size: 1.8em;
    }
    
    h4 {
        font-size: 1.2em;
    }
    
    form p ul li {
        font-family: "Nexa Bold";
    }
    
    li {
        font-family: "Nexa Bold";
    }
    /* ********************eigen code********************* */
    
    body {
        width: 90%;
        justify-content: center;
        display: block;
        margin: 0 auto;
    }
    
    header {
        display: inline-block;
        display: flex;
        background-color: white;
        font-size: 0.7em;
        justify-content: space-between;
    }
    
    header h1 {
        font-size: 3em;
        margin-top: .3em;
    }
    
    header img {
        width: 8em;
        height: 100%;
        position: relative;
        margin-right: 4.5em;
        padding-top: .3em;
    }
    
    header nav ul {
        display: flex;
        text-align: right;
    }
    
    header nav ul li {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        width: auto;
        padding: 0.3em;
        margin-top: 1.3em;
        font-size: 1.3em;
    }
    
    header a {
        text-decoration: none;
        color: #00D66C;
    }
    
    main > section:nth-of-type(1),
    main > section:last-child {
        background-color: #F3E5D8;
        margin: auto;
        display: block;
        position: relative;
        padding: 3em;
    }
    
    article {
        position: relative;
        text-align: left;
        display: inline-block;
        border-radius: 0.4em;
        background-color: #fff;
        vertical-align: top;
        padding: .5em;
    }
    
    article:hover {
        transform: scale(1.1);
    }
    
    main {
        position: relative;
        display: block;
    }
    
    main article img {
        width: 100%;
    }
    /* ******************** grid en flow ********************* */
    
    main > section:nth-of-type(1),
    main > section:last-child {
        display: grid;
        grid-template-columns: 20em 20em 20em;
        grid-column-gap: 3em;
        grid-row-gap: 3em;
        justify-content: center;
    }
    /* ******************** 1e brake ********************* */
    
    @media only screen and (max-width: 87em) {
        main > section:nth-of-type(1),
        main > section:last-child {
            grid-template-columns: 20em 20em;
            justify-content: center;
        }
    }
    /* ******************** 2e brake ********************* */
    
    @media only screen and (max-width: 61em) {
        main > section:nth-of-type(1),
        main > section:last-child {
            grid-template-columns: 20em;
            justify-content: center;
        }
    }
    /* ******************** 3e brake ********************* */
    
    @media only screen and (max-width: 34.6em) {
        main > section:nth-of-type(1),
        main > section:last-child {
            grid-template-columns: 20em;
            justify-content: center;
        }
        header h1 {
            margin: auto;
            font-size: 2em;
            padding-top: .6em
        }
        header nav ul li {
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            width: auto;
            padding: 0.5em;
            padding-top: 1.3em;
            font-size: 1em;
            justify-content: flex-end;
        }